## 1. **Loading the Dataset**

**1.1 Import python packages**

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**1.2 Display the first few rows to understand the data structure.**

In [4]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

## 2. **Exploratory Data Analysis (EDA)**

**2.1 Check for missing values**

In [6]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

**2.2 Data types and unique values**

In [8]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [19]:
for col in df.columns:
    print(f'{col} has {df[col].nunique()} unique values')

RowNumber has 10000 unique value
CustomerId has 10000 unique value
Surname has 2932 unique value
CreditScore has 460 unique value
Geography has 3 unique value
Gender has 2 unique value
Age has 70 unique value
Tenure has 11 unique value
Balance has 6382 unique value
NumOfProducts has 4 unique value
HasCrCard has 2 unique value
IsActiveMember has 2 unique value
EstimatedSalary has 9999 unique value
Exited has 2 unique value

**2.3 Summary statistics**

**2.4 Class balance**

## 3. **Data Visualization**
- **Churn Distribution**: Use a bar chart or pie chart.
- **Demographics Analysis**:
  - Age distribution of churned vs. non-churned customers.
  - Gender distribution among churned customers.
  - Churn rate per geography.
- **Financial Insights**:
  - Credit score distribution for churned vs. non-churned customers.
  - Balance and estimated salary comparison.
  - Churn rate by number of products.
- **Customer Behavior Analysis**:
  - Churn rate for active vs. inactive members.
  - Churn rate based on credit card ownership.
  - Tenure vs. churn rate.

## 4. **Feature Engineering**
- Convert categorical variables (`Geography`, `Gender`) into numerical format.
- Create new features such as:
  - **Age Groups**: Categorize customers into age brackets.
  - **Balance-to-Salary Ratio**: `Balance / EstimatedSalary`.
  - **Risk Score**: Combine credit score and number of products.
  - **Geography-based risk**: Create dummy variables for `Geography`.

## 5. **Data Preprocessing for Modeling**
- Encode categorical variables.
- Scale numerical features to standardize data.
- Split data into training and test sets.

## 6. **Building a Predictive Model**
- Train different models to predict churn:
  - Logistic Regression for interpretability.
  - Decision Tree or Random Forest for feature importance.
  - XGBoost for better accuracy.
- Evaluate model performance using:
  - Accuracy, Precision, Recall, F1-score, and ROC-AUC.

## 7. **Insights & Business Recommendations**
- Identify the most important factors influencing churn.
- Explain findings in a business-friendly manner:
  - **Who is more likely to churn?** (e.g., younger customers, inactive members, customers with multiple products, etc.)
  - **What actions can the company take?** (e.g., personalized offers, retention strategies for high-risk groups)
- Suggest strategies for improving customer retention and reducing churn.